<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>修改密码</title>
    <link href="../static/css/styles.css" rel="stylesheet" />
    <script>
        //密码验证
        function validate() {
            var pwd1 = document.getElementById("inputPassword").value;
            var pwd2 = document.getElementById("inputConfirmPassword").value;
            <!-- 对比两次输入的密码 -->
            if(pwd1 == pwd2)
            {
                document.getElementById("tips").innerHTML="<p style='color: greenyellow'>两次密码相同</p>";
                document.getElementById("submit_passwd").disabled = false;
            }
            else {
                document.getElementById("tips").innerHTML="<p style='color: red'>两次密码不同</p>"
                document.getElementById("submit_passwd").disabled = true;
            }
        }
    </script>
</head>
<body class="bg-primary">
                        <div class="card shadow-lg border-0 rounded-lg mt-5" style="width:400px;margin:0 auto">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">修改密码</h3></div>
                            <div class="card-body">

                                <form  action="/password_info" method="post">
                                    <div class="form-group"><label class="small mb-1" for="inputPassword">密码</label> <span style="color:red">*</span>
                                        <input class="form-control py-4" id="inputPassword"  name="passwd" type="password" onkeyup="validate()"  required="required" placeholder="密码" />
                                    </div>
                                    <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">确认密码</label> <span style="color:red">*</span>
                                        <input class="form-control py-4" id="inputConfirmPassword"  type="password" required="required" onkeyup="validate()" placeholder="再次确认密码" />
                                        <br/>
                                        <span id="tips"></span>
                                    </div>
                                    <div class="form-group mt-4 mb-0">
                                        <input id="submit_passwd" class="btn btn-primary btn-block" type="submit" value="修改密码" />
                                    </div>

                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a href="/index" style="text-decoration: none">算了，不修改了</a></div>
                            </div>
                        </div>
<script src="../static/js/scripts.js"></script>
</body>
</html>
